
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA DE RECEITAS */
.global-receitas {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 8rem 5rem 10rem;
    gap: 5rem;
  }
  
  .receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  
  main .global-receitas .receitas h1 {
    font-size: 23px;
  }
  
  .img-receitas {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .global-sabores{
    background-color: rgb(226, 225, 225);
    padding: 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .global-sabores h2{
    font-size: 40px;
    color: rgb(0, 0, 0);
  }
  
  .global-sabores p{
    font-size: 30px;
    margin-top: 2rem;
    color: rgb(0, 0, 0);
  }
  
  .texto-sabores {
    text-align: center;
    margin-bottom: 6rem;
  }
  
  .card-sabores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .sabores {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 18px;
  }
  
  .img-sabores {
    width: 300px;
    height: 250px;
    object-fit: cover;
    transition: 200ms;
    margin-bottom: 1rem;
  }
  
  .img-sabores:hover {
    transform: scale(1.1);
  }
  
  .sabores h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
  }
  
  .sabores button {
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: #000;
    border-radius: 18px;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }

  .hide{
    display: none;
  }

  .icone, .icone-1, .icone-2, .icone-3, .icone-4, .icone-5, .icone-6, .icone-7, .icone-8, .icone-9 {
    margin-left: 95%;
    width: 20px;
    cursor: pointer;
  }
  
  /* FIM DA PÁGINA DE RECEITAS */


  .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
    position: absolute;
    z-index: 1;
    width: 800px;
    text-align: center;
    padding: 1.5rem;
    background-color: #ffffff;
  }

  .teste-3 {
    height: 600px;
  }

  .teste-9{
    height: 750px;
  }

  .listagem-1 {
    height: 400px;
  }

  .listagem-1 p {
    font-size: 12px;
    width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }



  @media screen and (max-width: 1300px) {

    main .global-receitas .receitas h1 {
      font-size: 16px;
    }
    
    .img-receitas {
      width: 180px;
      height: 180px;
    }

    .sabores {
      width: 220px;
      height: 430px;
    }
    
    .img-sabores {
      width: 300px;
      height: 250px;
    }

    .sabores h3 {
      font-size: 12px;
      font-weight: 600;
      height: 25px;
    }

    
  .listagem-1 p {
    font-size: 12px;
  }
    
  }


  @media screen and (max-width: 1000px) {

    .global-receitas {
      display: grid;
      grid-template-columns: 250px 250px;
      gap: 2rem;
    }

    .receitas {
      gap: 1.5rem;
    }

    main .global-receitas .receitas h1 {
      font-size: 14px;
    }

    .global-sabores h2 {
      font-size: 35px;
      color: rgb(0, 0, 0);
    }
    
    .global-sabores p{
      font-size: 25px;
      margin-top: 2rem;
      color: rgb(0, 0, 0);
    }

    .sabores {
      width: 180px;
      height: 400px;
    }
    
    .img-sabores {
      width: 200px;
      height: 220px;
    }

    .sabores h3 {
      font-size: 12px;
      font-weight: 600;
      height: 25px;
    }

    .listagem-1 p {
      font-size: 12px;
    }
  
    
    
  }

  @media screen and (max-width: 850px) {

    .global-sabores{
      gap: 4rem;
    }

    .card-sabores {
      display: grid;
      grid-template-columns: 300px 300px;
      gap: 5rem;
    }
    .sabores {
      width: 300px;
      height: 400px;
    }
    
    .img-sabores {
      width: 400px;
      height: 220px;
    }

    .sabores h3 {
      font-size: 12px;
      font-weight: 600;
      height: 25px;
    }

    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
      width: 650px;
      padding: 1.5rem;
      margin-left: 2rem;
    } 
  }


  @media screen and (max-width: 700px) {

    .card-sabores {
      display: grid;
      grid-template-columns: 200px 200px;
      gap: 5rem;
    }
    .sabores {
      width: 250px;
      height: 400px;
    }

    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
      width: 550px;
      height: 600px;
    }

    .teste-3{
      height: 700px;
    }

    .teste-9{
      height: 750px;
    }

    .listagem-1 p {
      width: 350px;
    }
  }


  
  @media screen and (max-width: 600px) {

    .global-sabores{
      gap: 4rem;
    }

    .card-sabores {
      display: grid;
      grid-template-columns: 200px 200px;
      gap: 5rem;
    }
    .sabores {
      width: 200px;
      height: 370px;
    }
    
    .img-sabores {
      width: 200px;
      height: 220px;
    } 

    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
      width: 500px;
    }
    .listagem-1 {
      height: 350px;
    }
  }


  @media screen and (max-width: 550px) {
    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
      width: 400px;
    }

  }


  @media screen and (max-width: 500px) {

    .global-receitas {
      display: grid;
      grid-template-columns: 200px 200px;
      gap: 2rem;
    }


    .img-receitas {
      width: 130px;
      height: 130px;
    }

    .receitas {
      gap: 1.5rem;
    }

    main .global-receitas .receitas h1 {
      font-size: 12px;
    }

    .global-sabores h2{
      font-size: 28px;
      color: rgb(0, 0, 0);
    }
    
    .global-sabores p{
      font-size: 20px;
      margin-top: 2rem;
      color: rgb(0, 0, 0);
    }

    .global-sabores{
      gap: 4rem;
    }

    .card-sabores {
      display: grid;
      grid-template-columns: 150px 150px;
      gap: 3rem;
    }
    .sabores {
      width: 150px;
      height: 300px;
    }
    
    .img-sabores {
      width: 150px;
      height: 150px;
    } 

    .sabores h3 {
      font-weight: 600;
      height: 25px;
    }

    .sabores a {
      font-size: 14px;
    }

    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9  {  
      width: 350px;
      padding: 1.5rem;
      margin-left: 2rem;
    } 

    .teste-3, .teste-9 {
      height: 750px;
    }

    .listagem-1 p {
      font-size: 12px;
      width: 300px;
    }

    .sabores button {
      font-size: 10px;
    }

  }

  @media screen and (max-width: 400px) {
    .global-conteudo, .teste-1, .teste-2, .teste-3, .teste-4, .teste-5, .teste-6, .teste-7, .teste-8, .teste-9 {  
      margin-left: 0.5rem;
  }
}
    
    
